@import url('http://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

/* Reset */

* {
    margin: 0; /* zerar margem */
     padding: 0; /* zerar propriedade utilizada para definir o distanciamento interno entre o elemento e a borda */
    box-sizing: border-box; /*  faz com que o navegador não calcule a dimensão de um elemento somando bordas e margens com altura e largura */
    font-family: 'Oxanium', cursive; /* import da fonte que puxamos no começo do codigo */
}

body{
    text-align: center;
    background-image: url(../images/background.jpg);
    min-height: 100vh; /* estica a tela até o minimo, para não repetir a imagem */
}
main{
    display: inline-block; /* faz com o tamanho da main seja o tamanho da imagem */
    margin-top: 5%;
    padding: 15px; /* somente padding coloca espaçamento em todos os lados */
    position: relative; /* delimita a sobreposição da classe pokemon__image fazendo que mesmo sobrepondo a pokedex respeite suas delimitações*/
}

 .pokedex{
    width: 100%; /* ocupa 100% do espaço disponível, não cortando a imagem */
    max-width: 425px;
 }

 .pokemon__image{
    position: absolute; /* sobrepor a imagem, fica por cima da pokedex */
    bottom: 55%;
    left: 50%;
    transform: translate(-63%,20%); /* recebe 2 parametros, (x,y) ele move a imagem. O % é referente a IMAGEM em si, no caso do pokemon (imagem) e não da div em si */
    height: 18%;/* Definir uma altura máxima do pokemon, se não ele um pokemon que tenha uma area maior pode estrapolar o tamanho do visor da pokedex */
 }

 .pokemon__data{
    position: absolute; /* sobrepõe a imagem, fica por cima da pokedex */
    font-weight: 600; /* espessura da fonte */
    color: #aaa; /* cor da fonte */
    top: 54.5%; 
    right: 27%;
    font-size: clamp(8px, 5vw, 25px); /* recebe 3 parametros (tamanho minimo, valor desejavel, tamanho maximo) */
 }

 .pokemon__name{
    color: #3A444D;
    text-transform: capitalize; /* deixa a primeira letra maiúscula */
 }